services:
  client:
    build: ./ubc-campus-explorer-client
    environment:
      NODE_ENV: production
    depends_on:
      - nav
    ports:
      - "4173:4173"

  nav:
    build: ./osrm-vancouver
    ports:
      - "5000:5000"
  
  entrypoint:
    build: ./entrypoint
    depends_on:
      - db
    ports:
      - "8888:8888"

  db:
    image: mysql:latest
    restart: always
    environment: # placeholders, MUST REPLACE IN PRODUCTION
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ubc_campus_explorer
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql


volumes:
  db-data:
    